<footer>
  <div class="f-info">
    <div class="f-social">
      <i class="bi bi-facebook icons"></i>
      <i class="bi bi-twitter-x icons"></i>
      <i class="bi bi-instagram icons"></i>
    </div>
    <div>&copy; 2025 Wanderhaven Private Limited</div>
    <div class="f-info-link">
      <a href="">Privacy</a>&nbsp;&nbsp; <a href="">Terms</a>&nbsp;&nbsp;
      <a href="">Sitemap</a>&nbsp;&nbsp;
      <a href="">Company details</a>
    </div>
  </div>
</footer>
